@import "tailwindcss";

body {
  @apply bg-background text-white overflow-x-hidden;
  font-family: "Montserrat", sans-serif;
  height: 300vh;
}

@utility width-x-res {
  @apply px-6 lg:px-24;
}

@utility max-width-center {
  @apply max-w-[1920px] mx-auto;
}

@theme {
  --color-background: #010201;
  --color-primary: #fdd319;
}
